.dash {
  color: rgb(255, 255, 255);
}

.dash a {
  color: rgb(84, 191, 255);
}

.dash button {
  color: rgb(255, 255, 255);
}

.primary.box {
	width: 100vw;
  background-color: rgb(26, 0, 26);
}

.primary.box > .header.row {
  display: flex;
  justify-content: space-evenly;
}

.primary.box > .header.row > .inline.col {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}
