.inline {
  display: inline;
}

.indent {
  margin-left: 3em;
}

.box {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.header.row {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.virtuoso.row {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}
