.dash {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  color: rgb(255, 255, 255);
}

.dash a {
  color: rgb(84, 191, 255);
}

.dash button {
  color: rgb(255, 255, 255);
}

.dash textarea {
  color: rgb(255, 255, 255);
  font-family: inherit;
  background-color: MidnightBlue;
}

.tertiary.box {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.tertiary.box > .row {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.tertiary.box > .row > .col {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 2vw;
  margin-right: 2vw;
}

.tertiary.box > .row > .col > textarea {
  height: 20vh;
  max-height: 40vh;
  min-height: 2em;
  width: 40vw;
  max-width: 80vw;
  min-width: 2em;
}

.primary.box {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  min-height: 50vh;
  background-color: rgb(26, 0, 26);
}

.primary.box > .header.row {
  display: flex;
  justify-content: space-evenly;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.primary.box > .header.row > .inline.col {
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.primary.box > .virtuoso.row {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.primary.box > .virtuoso.row * {
  --block-scroll: no;/* iOS 12 */
  touch-action: manipulation;/* iOS 12 */
  touch-action: pan-y;
}
